@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = (Home) Model.Root();
    var slide1 = home.Slide1 != null ? home.Slide1.Url() : String.Empty;
    var slide2 = home.Slide2 != null ? home.Slide2.Url() : String.Empty;
    var slide3 = home.Slide3 != null ? home.Slide3.Url() : String.Empty;
    var slide4 = home.Slide4 != null ? home.Slide4.Url() : String.Empty;
    var slide5 = home.Slide5 != null ? home.Slide5.Url() : String.Empty;
    var slide6 = home.Slide6 != null ? home.Slide6.Url() : String.Empty;
    var slide7 = home.Slide7 != null ? home.Slide7.Url() : String.Empty;
    var slide8 = home.Slide8 != null ? home.Slide8.Url() : String.Empty;
}

<div class="main-carousel">
<div class="center-div">
<section class="carousel">
    <section class="slides img1">
        <img src="@slide1"/>
        <div class="section__hero-content-first-slide">
            <h1>@home.FirstTextSlide1</h1>
            <h1>@home.SecondTextSlide1</h1>
        </div>
    </section>
    <section class="slides img2">
        <img src="@slide2"/>
        <div class="content-slide-2">
            <h1 class="text-slide-2">@home.TextSlide2</h1>
            <a class="button button--border--solid" href="https://www.ford.com.ph/suvs/explorer/?intcmp=bb-fph-hp-fph-vhp-ford%20explorer-return">
                @home.CaptionButton
            </a>
        </div>
    </section>
    <section class="slides img3">
         <img src="@slide3"/>
        <div class="content-slide-3">
            <a class="button button--border--solid" href="https://www.ford.com.ph/trucks/f150/?intcmp=bb-fph-hp-fph-vhp-ford%20f150-return">
                @home.CaptionButton
            </a>
        </div>
    </section>
    <section class="slides img4">
         <img src="@slide4"/>
        <div class="content-slide-4">
            <a class="button button--border--solid" href="https://www.ford.com.ph/suvs/territory/?intcmp=bb-fph-hp-fph-vhp-ford%20territory-return">
                @home.CaptionButton
            </a>
        </div>
    </section>
    <section class="slides img5">
         <img src="@slide5"/>
        <div class="content-slide-5">
            <a class="button button--border--solid" href="https://www.ford.com.ph/trucks/raptor/?intcmp=bb-fph-hp-fph-vhp-ford%20raptor-return">
                @home.CaptionButton
            </a>
        </div>
    </section>
    <section class="slides img6">
         <img src="@slide6"/>
        <div class="content-slide-6">
            <a class="button button--border--solid" href="https://www.ford.com.ph/suvs/everest/?intcmp=bb-fph-hp-fph-vhp-ford%20everest-return">
                @home.CaptionButton
            </a>
        </div>
    </section>
    <section class="slides img7">
         <img src="@slide7"/>
        <div class="content-slide-7">
            <a class="button button--border--solid" href="https://www.ford.com.ph/trucks/ranger/?intcmp=bb-fph-hp-fph-vhp-ford%20ranger-return">
                @home.CaptionButton
            </a>
        </div>
    </section>
    <a class="slides img8" href="/">
        <img class="slide8Img section-bg section--content-center"
         src="@slide8"/>
    </a>
    <div class="carousel-buttons">
       <a href="#" class="btns btn1 btn-active"></a> 
       <a href="#" class="btns btn2"></a> 
       <a href="#" class="btns btn3"></a>
       <a href="#" class="btns btn4"></a>
       <a href="#" class="btns btn5"></a> 
       <a href="#" class="btns btn6"></a>
       <a href="#" class="btns btn7"></a>
       <a href="#" class="btns btn8"></a> 
    </div>
</section>
</div>
</div>

<script>
    $(document).ready(function(){
        $('.btn1').click(function(){
            $('.img1').css("marginLeft","0");
            $('.btns').removeClass('btn-active');
            $('.btn1').addClass('btn-active');

        })
        $('.btn2').click(function(){
            $('.img1').css("marginLeft","-12.5%");
            $('.btns').removeClass('btn-active');
            $('.btn2').addClass('btn-active');
        })
        $('.btn3').click(function(){
            $('.img1').css("marginLeft","-25%");
            $('.btns').removeClass('btn-active');
            $('.btn3').addClass('btn-active');
        })
        $('.btn4').click(function(){
            $('.img1').css("marginLeft","-37.5%");
            $('.btns').removeClass('btn-active');
            $('.btn4').addClass('btn-active');
        })
        $('.btn5').click(function(){
            $('.img1').css("marginLeft","-50%");
            $('.btns').removeClass('btn-active');
            $('.btn5').addClass('btn-active');
        })
        $('.btn6').click(function(){
            $('.img1').css("marginLeft","-62.5%");
            $('.btns').removeClass('btn-active');
            $('.btn6').addClass('btn-active');
        })
        $('.btn7').click(function(){
            $('.img1').css("marginLeft","-75%");
            $('.btns').removeClass('btn-active');
            $('.btn7').addClass('btn-active');
        })
        $('.btn8').click(function(){
            $('.img1').css("marginLeft","-87.5%");
            $('.btns').removeClass('btn-active');
            $('.btn8').addClass('btn-active');
        })
    })
</script>