@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div>
    <div class="list-vehicles">
        <p class="h1-vehicles">A Ford vehicle for every lifestyle!</p>
        <p class="p-vehicles">See our full lineup of vehicles:</p>
        <div class="min-nav-bar">
            <div id="n1" class="nav-option nav-option-active" onclick="showVehicles(1)">MOST POPULAR</div>
            <div id="n2" class="nav-option" onclick="showVehicles(2)">SUVS</div>
            <div id="n3" class="nav-option" onclick="showVehicles(3)">TRUCKS</div>
            <div id="n4" class="nav-option" onclick="showVehicles(4)">PERFORMANCE</div>
            <div id="n5" class="nav-option" onclick="showVehicles(5)">COMING SOON</div>
            <div id="n6" class="nav-option" onclick="showVehicles(6)">ALL VEHICLES</div>
            <div id="n7" class="nav-option" onclick="showVehicles(7)">PREVIOULSY SEARCHED</div>
        </div>
    </div>
        <div id="1" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    @if(nameList == "Most popular"){
                        <div class="vehicle-div">
                            <a  href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                            <p class="text-price">Starting Price</p>
                            <p class="price-vehicle">₱@vehicle.Price</p>
                        </div>
                    }
                }
            }
        </div>
        
        <div id="2" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    @if(nameList == "SUVs"){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                            <p class="text-price">Starting Price</p>
                            <p class="price-vehicle">₱@vehicle.Price</p>
                            </div>
                    }
                }
            }
        </div>
        
        <div id="3" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    @if(nameList == "Trucks"){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                            <p class="text-price">Starting Price</p>
                            <p class="price-vehicle">₱@vehicle.Price</p>
                        </div>
                    }
                }
            }
        </div>
        
        <div id="4" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    @if(nameList == "Performance"){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                            <p class="text-price">Starting Price</p>
                            <p class="price-vehicle">₱@vehicle.Price</p>
                        </div>
                    }
                }
            }
        </div>
        
        <div id="5" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    @if(nameList == "Coming Soon"){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                        </div>
                    }
                }
            }
        </div>
        
        <div id="6" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    var IsComingSoon = false;
                    @foreach (String nl in vehicle.ReferenceList){
                        @if(nl == "Coming Soon"){
                            IsComingSoon = true;
                        }
                    }
                    @if(nameList == "All Vehicles" && IsComingSoon == false ){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                            <p class="text-price">Starting Price</p>
                            <p class="price-vehicle">₱@vehicle.Price</p>
                        </div>
                    }
                    @if(nameList == "All Vehicles" && IsComingSoon == true){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                        </div>
                    }
                }
            }
        </div>
        
        <div id="7" class="vehicles-list-div">
            @foreach (Vehicle vehicle in Model.Children<Vehicle>())
            {
                @foreach (String nameList in vehicle.ReferenceList){
                    @if(nameList == "Most popular"){
                        <div class="vehicle-div">
                            <a href="@vehicle.Link">
                                <img class="car-img" src="@vehicle.VehiclePhoto.Url()"/>
                            </a>
                            <a class="reference-vehicle" href="@vehicle.Link">
                                <p>@vehicle.ReferenceName</p>
                            </a>
                            <p class="text-price">Starting Price</p>
                            <p class="price-vehicle">₱@vehicle.Price</p>
                        </div>
                    }
                }
            }
        </div>
    </div>